.DS_Store
/LazyTableImages.xcodeproj/project.xcworkspace/xcuserdata/Technoguru.xcuserdatad/WorkspaceSettings.xcsettings
/LazyTableImages.xcodeproj/project.xcworkspace/xcuserdata/Technoguru.xcuserdatad/UserInterfaceState.xcuserstate